
  .overlay {
    background-color: rgba(255, 255, 255, .5); /* Black background with opacity */
    .crossStyle{
      outline: none !important;
      padding: 0;
      background-color: transparent;
      border: 0;
      -webkit-appearance: none;
    }
    cursor: pointer; /* Add a pointer on hover */
    .setImage{
      float: left;
      padding-right: 10px;
      height: 260px;
      width: 350px;
    }
    .example-container {
      display: flex;
      flex-direction: column;
      .btnAlign{
        width: 50%;
      }
    }

    .example-container > * {
      width: 100%;
    }
  }

