.dogname{
  position:relative;
  top: 100px;
}
.animal-label{
  position: relative;
  left:20px;
  font-weight: bold;
}
.animal-item{
  position: relative;
  left:25px;
}
.donation-box{
	background-color: grey;
	width: 20%;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
  font-size: 18px;
  bottom :10px;
  left:450px;
	bottom: 0px;
	position: absolute;
	cursor: pointer;
	font-weight: 800;
}
