<div class="overlay">
  <h3 mat-dialog-title>Ask Question</h3>
      <div class="example-container">
          <form #userForm1="ngForm" (ngSubmit)="addQuestion(userForm1.value)">

          <mat-form-field>
              <input matInput placeholder="Type your question" type="text" name="Question" [(ngModel)]="Question">
          </mat-form-field>
          <div>
              <button class="submitbutton" (click)="closeDialog()" name="submit" class="btnAlign">Submit</button>
              <button mat-button (click)="closeDialog()" class="btnAlign">Cancel</button>
          </div>

          </form>
          </div>

      </div>

