<body>
    <div class="container">
        <h1 class="heading">Our Mission</h1>
        <h3>The Animal Rescue League of Boston is an unwavering champion for animals in need,<br> committed to keeping them safe and healthy in habitats and homes.</h3>
      </div>

      <div class="row">
          <div class="column">
            <div class="wrapper">
              <div class="parent" onclick="">
                <div class="child bg-one">
                  <div class="grid1content">
                     <h4>ADOPT</h4>
                     <h5>Matching adoptable<br>
                         animals with a permanent home</h5>
                     <div><button ><a href="https://www.arlboston.org/adopt/adopt-a-pet/">Adopt a pet</a></button></div>
                     </div>
                  </div>
              </div>
            </div>             
          </div>
          <div class="column">
            <div class="wrapper">
              <div class="parent" onclick="">
                 <div class="child bg-two">
                 <a href="#">Los Angeles</a>
                 </div>
               </div>
             </div>             
          </div>
          <div class="column">
                  <div class="wrapper">
                          <div class="parent" onclick="">
                              <div class="child bg-three">
                                  <a href="#">Los Angeles</a>
                              </div>
                          </div>
                  </div> 
          </div>
          <div class="column">
              <div class="wrapper">
                      <div class="parent" onclick="">
                          <div class="child bg-four">
                              <a href="#">Los Angeles</a>
                          </div>
                      </div>
              </div> 
      </div>
        </div>
      