<body>
    <div class="container">
        <h1 class="heading">Our Mission</h1>
        <h3>The Animal Rescue League of Boston is an unwavering champion for animals in need,<br> committed to keeping them safe and healthy in habitats and homes.</h3>
      </div>

      <div class="row">
          <div class="column">
            <div class="wrapper">
              <div class="parent" onclick="">
                <div class="child bg-one">
                  <div class="grid1content">
                     <h1>ADOPT</h1>
                     <p>Matching adoptable<br>
                         animals with a permanent home</p>
                     <button mat-raised-button color="warn"><a href="https://www.arlboston.org/adopt/adopt-a-pet/">Adopt a pet</a></button>
                     </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="wrapper">
              <div class="parent" onclick="">
                 <div class="child bg-two">

                 </div>
               </div>
             </div>
          </div>
          <div class="column">
                  <div class="wrapper">
                          <div class="parent" onclick="">
                              <div class="child bg-three">
                                  <div class="grid1content">
                                    <h1>Los Angeles</h1>
                                  </div>
                              </div>
                          </div>
                  </div>
          </div>
          <div class="column">
              <div class="wrapper">
                      <div class="parent" onclick="">
                          <div class="child bg-four">
                            <div class="grid1content">
                              <h1>COMMUNITY PROGRAMS</h1>
                              <p>Serving animals and people<br>
                                where they live</p>
                              <div><button mat-raised-button color="warn"><a routerLink="/events"> VIEW PROGRAMS</a></button></div>
                              </div>
                          </div>
                      </div>
              </div>
      </div>
        </div>
