  <body>
    <!-- -------------------------Donation images--------------------- -->

    <div class="container" >
      <h2 class="heading">In 2018, your donations made a <br>huge impact for animals in need</h2>
    </div>
    <br>
    <div class="DonationSectionGrid">
      <div class="donationgrid">
        <div class="box a">  
          <div class="donationcontentgrid A">
                 <h1>{{ animalcount }}</h1>
                 <h4>animals where assisted in 2018</h4> 
          </div> 
        </div>
        <div class="box b">
          <div class="donationcontentgrid B">
              
                <h1>{{ countStatus }}</h1>
                <h4>animals found their forever homes</h4> 
          </div>
        </div>
        <div class="box c">
            <div class="donationcontentgrid B">
                
                  <h1>{{ percentadopted }}%</h1>
                  <h4>of animals were adopted, returned to field/owner, or transferred
                    (live release rate)</h4> 
            </div>
        </div>
        <div class="box d">
            <div class="donationcontentgrid B">
                
                  <h1>{{veterinarycarecount}}</h1>
                  <h4>animals were given access to high-quality, affordable veterinary care right in their community</h4> 
            </div>
        </div>
        <div class="box e">
            <div class="donationcontentgrid B">
         
                  <h1>{{crueltycase}}</h1>
                  <h4>animals helped in cases of cruelty and neglect</h4> 
            </div>
        </div>
      </div>
    </div>
  </body>