
<div class="overlay">
    <button type="button" class="close crossStyle" style="outline: none;" aria-label="Close">
        <span aria-hidden="true" >×</span>
    </button>
    <h3 mat-dialog-title>{{ name }}</h3>
     <img [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/jpg;base64, '+imageUrl)" class="setImage">
     <div class="example-container">
          <div><span class="animal-label">Breed:&nbsp;</span><span class="animal-item">{{breed}}</span></div>
          <div><span class="animal-label">Gender:&nbsp;</span><span class="animal-item">{{gender}}</span></div>
          <div><span class="animal-label">Age:&nbsp;</span><span class="animal-item">{{age}}</span></div>
          <div><span class="animal-label">Health:&nbsp;</span><span class="animal-item">Vaccinations up to date, spayed / neutered</span></div>
          <div class="blog-post descriptionClass">{{description}}</div>
          <br>
      </div>
      <h3 mat-dialog-title>Comments</h3>
      <form #userForm1="ngForm" (ngSubmit)="updateComment(userForm1.value)">
          <div class="example-container">
              <mat-form-field>
                  <input matInput  class="form-control" id="comment" type="text"  placeholder="Your comments" name="comment" [(ngModel)]="comment"/>"!inputDisable" class="form-control" id="comment" disabled=false type="text"  placeholder="Your comments" name="comment" [(ngModel)]="comment"/>
              </mat-form-field>
              <div mat-dialog-actions>
                  <button class="btn btn-default" type="submit" > Add</button>
                  <button  id="update" class="btn btn-default" (click)="edit()">Update</button>
              </div>
           </div>
      </form>
      <!--<form #userForm1="ngForm" class="form-inline" (ngSubmit)="updateComment(userForm1.value)">
          <div class="form-group" *ngIf="inputDisable">

              <input class="form-control" id="comment" type="text" [disabled] placeholder="Your comments" name="comment" [(ngModel)]="comment"/>
          </div>
          <div class="form-group" *ngIf="!inputDisable">

              <input class="form-control" id="comment" type="text" placeholder="Your comments" name="comment" [(ngModel)]="comment"/>
          </div>
          <div class="form-group">
              <button class="btn btn-default" type="submit" > Add</button>
              <button class="btn btn-default" (click)="edit()">Update</button>
          </div>

      </form> -->
  </div>


