<p>in-action works!</p>
<div class="container">
    <h1 class="heading">ARL In Action</h1>
    
    <div>
        <div class="viewport grid_arl">
          
          <h3 class="arlimage1"></h3>
          <h3  class="arlimage2"></h3>
          <h3  class="arlimage3"></h3>
          <div  class="arlgridcontent">
              <h4>DONATE NOW to DOUBLE your impact for animals</h4>
            <div><p>November 12, 2019</p></div>
            <div data-url="https://www.arlboston.org/press-release-arl-removes-80-animals-from-overcrowding-situations/">
              <p>
                  "Cats and Kittens Found Living in Deplorable Conditions Over the past two weeks, the Animal Rescue League
                 of Boston’s (ARL) Law Enforcement and Field Services Departments have removed 80 cats and kittens from two 
                 different overcrowding situations in Bristol and Plymouth Counties. For local press coverage click here!
                  These cases highlight the importance of recognizing the signs of hoarding, seeking help when overwhelmed,
                   and having pets spayed and neutered. These are on-going issues across the Commonwealth and ARL believes 
                   it’s important for the public to be aware and to take action. The most recent incident happened along the
                    South Shore,"
              </p>
                
              </div>
        </div>
        <div  class="arlgridcontent">

              <h4 >Press Release: ARL Removes 80 Animals from Overcrowding Situations</h4>
              <div><p >November 8, 2019</p></div>
              <div data-url="https://www.arlboston.org/press-release-arl-removes-80-animals-from-overcrowding-situations/">
                <p>
                    "Cats and Kittens Found Living in Deplorable Conditions Over the past two weeks, the Animal Rescue League
                   of Boston’s (ARL) Law Enforcement and Field Services Departments have removed 80 cats and kittens from two 
                   different overcrowding situations in Bristol and Plymouth Counties. For local press coverage click here!
                    These cases highlight the importance of recognizing the signs of hoarding, seeking help when overwhelmed,
                     and having pets spayed and neutered. These are on-going issues across the Commonwealth and ARL believes 
                     it’s important for the public to be aware and to take action. The most recent incident happened along the
                      South Shore,"
                </p>
                  
                </div>
        </div>
        <div  class="arlgridcontent">
            <h4 >Press Release: ARL Removes 80 Animals from Overcrowding Situations</h4>
            <div><p >November 8, 2019</p></div>
            <div data-url="https://www.arlboston.org/press-release-arl-removes-80-animals-from-overcrowding-situations/">
              <p>
                  "Cats and Kittens Found Living in Deplorable Conditions Over the past two weeks, the Animal Rescue League
                 of Boston’s (ARL) Law Enforcement and Field Services Departments have removed 80 cats and kittens from two 
                 different overcrowding situations in Bristol and Plymouth Counties. For local press coverage click here!
                  These cases highlight the importance of recognizing the signs of hoarding, seeking help when overwhelmed,
                   and having pets spayed and neutered. These are on-going issues across the Commonwealth and ARL believes 
                   it’s important for the public to be aware and to take action. The most recent incident happened along the
                    South Shore,"
              </p>
                
              </div>
        </div>
           
            
        </div>
      </div>  
</div>      