.overlay {
  overflow: hidden;
  background-color: rgba(255, 255, 255, .5); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
  .example-container {
    display: flex;
    flex-direction: column;
    .btnAlign{
      width: 50%;
    }
  }

  .example-container > * {
    width: 100%;
  }
}
