
<div class="album py-5 bg-light">
  <div class="container">
         <div class="list-group-item clearfix alignDiv"  style=" float:left; width : 30%; height: 390px;margin-right: 2px" *ngFor="let animal of animals">
              <mat-card class="example-card">
                <mat-card-header>
                    <img  mat-card-avatar class="example-header-image" [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/jpg;base64, '+animal.image)">
                  <mat-card-title>{{ animal.name }}</mat-card-title>
                  <mat-card-subtitle>{{ animal.type }}</mat-card-subtitle>
                </mat-card-header>

                <img
                [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/jpg;base64, '+animal.image)"
                alt="{{ animal.name }}"
                class="card-img-top" (click)="openDetails(animal)" >
                <div class="card-body">
                  <p class="card-text" (click)="openDetails(animal)" >
                      <label>Gender:{{ animal.gender }}</label><br>
                      <label>Age:{{ animal.age }}</label>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Read More</button> -->
                      <button type="button" (click)="onClick(animal)" class="btn btn-sm btn-outline-secondary" *ngIf="showAskme">View Details</button>
                      <button type="button" (click)="openQuestion()" class="btn btn-sm btn-outline-secondary" *ngIf="showAskme">Ask Question</button>
                    </div>
                  </div>
                </div>
              </mat-card>
        </div>
  </div>
<hr>






