@import "./../../scss/variable";
@import "./../../scss/mixin";


.container{
  margin-left: 37px;
  margin-top: 100px;
}
// width for all dof images

.dogimage{
  width: 100%;
}

// font for contents in card
.card {
  // max-width: 300px;
  margin: auto;
  //text-align: center;
  font-family: arial;
}

// styling for animal header and added mixins
.animalheader{
  font-family: monospace;
  @include contentsize(35px);
  //font-size: 35px;
  font-weight: small;
  @include imagedimension(50%,40%);
  // height: 40%;
  // width: 50%;
  background-color:  $content-color;
}


.animaldesc{
  font-family: monospace;
  @include contentsize(15px);
  //font-size: 15px;
  font-weight: small;
}

// added color and style for visited link
a:link, a:visited {
  background-color: $content-color;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

// styyling for hover
a:hover, a:active {
  background-color:rgb(238, 227, 227);
}

// styling exaple card
.example-card {
  // max-width: 400px;
  margin-left: -12px;
  width: 325px;
  height: 382px;
  margin-top: -7px;
}

.example-header-image {
  background-size: cover;

}

.alignDiv{
  margin-bottom: 1px;
  background-color: $content-color;
  border-color: $content-color;
  border-radius: 5px;
}
.card-img-top{
  @include imagedimension(295px,200px);
  // width: 295px;
  // height: 200px;
}

.scrolling-wrapper {
  // overflow-x: scroll;
  // overflow-y: hidden;
  white-space: nowrap;
  height:200px;
  overflow:auto;
  margin:15px -300px 15px 15px;
  padding-right:300px;
  .card {
    display: inline-block;
    width:50%;
  }
}
