// ------------------styling for 4 grids --------------

.container
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-display: arial;
}

.heading
{
}

.heading::after{
  background: #d52b1e;
    content: "'";
    display: block;
    height: 4px;
    margin: 15px auto 0;
    text-indent: -9999px;
    width: 44px;
}

.column_inner
{
    
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin: 0;
    
}

.wrapper {
    // padding: 50px 50px;
    // max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 80px;
}

.right {float: right !important;}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 98%;
    margin: 20px;
    height: 400px;
    border: 1px solid blue;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url(../Images/Kittens_grid1.jpg);}
.bg-two {background-image: url(../Images/dogs-training.jpg);}
.bg-three {background-image: url(../Images/medical-care.jpg);}
.bg-four {background-image: url(../Images/Community_programs.jpg);}


// a {
//     display: none;
//     font-size: 35px;
//     color: #ffffff !important;
//     font-family: sans-serif;
//     text-align: center;
//     margin: auto;
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     height: 50px;
//     cursor: pointer;
//     /*text-decoration: none;*/
// }

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
        .wrapper {padding: 20px 20px;}
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 25%;
    // padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  
.grid1content{
    display: table-cell;
    padding: 220px 10px 10px 90px;
    vertical-align: bottom;
    color: white;
    position: relative;
   
    
}

