
<!-- All the dependency files needed for css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<!-- file used inside script tag to render bootstrap css -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!-- bootstrap navigation bar -->
<nav class="navbar navbar-inverse navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="../../assets/Images/logobetter.jpg" id="logo" alt="lOGO">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
          <!-- <ul class="item"> -->
        <li><a [routerLink]="['/animal']" (click)="setShowMe()">
          Adopt
        </a></li>
        <li> <a [routerLink]="['/orderhistory']" (click)="setShowMe()">
            About Us
          </a></li>
        <li><a [routerLink]="['/user-review-list']" (click)="setShowMe()">
            Events
          </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="signIn == false" class="signedInUser">{{username}}</li>
        <li *ngIf="signIn == false"><a  mat-button class="loginBtn" (click)="onSignOut()">Sign Out</a></li>
        <!-- <li><a [routerLink]="['/login']">Login</a></li> -->
        <li *ngIf="signIn == true"><a mat-button class="loginBtn" (click)="openLogin()">Login</a></li>
        <li *ngIf="signIn == true"><a mat-button class="loginBtn" (click)="openSignUp()">Sign Up</a></li>
        <!-- <li><a [routerLink]="['/signup']"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li> -->
        <li><a href="#">
            <nav role='navigation'>
              <div id="menuToggle">
                <!-- checkbox used as click so as to use the :checked selector on it. -->
                <input type="checkbox" />
                <!-- actual hamburger bars -->
                <span></span>
                <span></span>
                <span></span>
                <!-- menu that opens after clicking on hamburger -->
                <ul id="menu">
                 <a [routerLink]="['/signup']">
                    Sign Up
                  </a><br><br>
                  <a [routerLink]="['/user-profile']">
                    About Us
                  </a> <br><br>
                  <a [routerLink]="['/orderhistory']">
                    Adopt
                  </a> <br><br>
                  <div class="social-media">

                      <a href="#"  class="icon-link">
                       <i class="fab fa-instagram"></i>
                      </a>

                      <a href="#"  class="icon-link">
                       <i class="fab fa-twitter-square"></i>
                      </a>

                      <a href="#"  class="icon-link">
                       <i class="fab fa-linkedin"></i>
                      </a>

                      <a href="#"  class="icon-link">
                       <i class="fab fa-github-square"></i>
                      </a>

                    </div>
                </ul>
              </div>
            </nav>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div *ngIf="showMe">
  <app-homecontent></app-homecontent>
</div>
