 <div class="container">
  <app-logo class="logoDiv"></app-logo>
  <div class="example-button-row">
    <div class="rightDiv">
      <button class="donateBtn" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
        <mat-icon class="favIcon">favorite</mat-icon>
        <div class="donateNow">Donate Now</div>
      </button>
    </div>
    <button mat-button class="signUpBtn" (click)="openSignUp()">Sign Up</button>
    <button mat-button class="loginBtn" (click)="openLogin()">Login</button>
  </div>
</div>
