<body>
        <div id="impact-section" >
                <h2 class="countingheader">In 2018, your donations made a huge impact for animals in need</h2>
              </div>
              <br>
              <div class="DonationSectionGrid">
                <div class="DonationSection1">
                  <div class="row DonationSection1Content">
                    <div></div>
                    <h3>animals where assisted in 2018</h3>
                  </div>
                </div> 
              
              <div class="row">
                  <div class="column DonationSection2"></div>
                  <div class="column DonationSection3"></div>                
              </div>      
              <div class="row">
                <div class="column DonationSection4"></div>
                <div class="column DonationSection5"></div>
              </div>
                            
            </div>   
                
</body>