
<div class="img"><img src="../../assets/Images/aboutus.png"></div>

<div class="container">

 <p class="head">An Unwavering Champion for Animals in Need</p>
 <div class="content">

  For 120 years, The Animal Rescue League of Boston (ARL) has responded to the needs of animals
  and the people who care about them. In fact, we are often the first to respond. With over 540
  dedicated volunteers and 100 staff members, ARL lends unwavering support to local animals,
  families, and neighborhoods. <br><br>

  We provide outstanding veterinary care, adoption, and field services. We also confront the root
  causes of animal cruelty and neglect through special police investigation and advocacy aimed at
  strengthening the laws that protect animals. Last year alone, we served more than 16,900 animals
  in need.<br><br>

  Today, we increasingly focus on prevention and the impact we can have on more animals; keeping them
  out of shelters and in the communities where they belong. This ambitious call to action is reflected
  in our new vision for the future.

  We provide outstanding veterinary care, adoption, and field services. We also confront the root
  causes of animal cruelty and neglect through special police investigation and advocacy aimed at
  strengthening the laws that protect animals. Last year alone, we served more than 16,900 animals
  in need.<br><br>

  Today, we increasingly focus on prevention and the impact we can have on more animals; keeping them
  out of shelters and in the communities where they belong. This ambitious call to action is reflected
  in our new vision for the future.
  We provide outstanding veterinary care, adoption, and field services. We also confront the root
  causes of animal cruelty and neglect through special police investigation and advocacy aimed at
  strengthening the laws that protect animals. Last year alone, we served more than 16,900 animals
  in need.<br><br>

  Today, we increasingly focus on prevention and the impact we can have on more animals; keeping them
  out of shelters and in the communities where they belong. This ambitious call to action is reflected
  in our new vision for the future.

  Today, we increasingly focus on prevention and the impact we can have on more animals; keeping them
  out of shelters and in the communities where they belong. This ambitious call to action is reflected
  in our new vision for the future.
  We provide outstanding veterinary care, adoption, and field services. We also confront the root
  causes of animal cruelty and neglect through special police investigation and advocacy aimed at
  strengthening the laws that protect animals. Last year alone, we served more than 16,900 animals
  in need.<br><br>

  Today, we increasingly focus on prevention and the impact we can have on more animals; keeping them
  out of shelters and in the communities where they belong. This ambitious call to action is reflected
  in our new vision for the future.

  Today, we increasingly focus on prevention and the impact we can have on more animals; keeping them
  out of shelters and in the communities where they belong. This ambitious call to action is reflected
  in our new vision for the future.
  We provide outstanding veterinary care, adoption, and field services. We also confront the root
  causes of animal cruelty and neglect through special police investigation and advocacy aimed at
  strengthening the laws that protect animals. Last year alone, we served more than 16,900 animals
  in need.<br><br>

  Today, we increasingly focus on prevention and the impact we can have on more animals; keeping them
  out of shelters and in the communities where they belong. This ambitious call to action is reflected
  in our new vision for the future.

 </div>

</div>
<div style="float: right;right: 0;">
<button *ngIf="isShow" (click)="gotoTop()">👆</button>
</div>