<div class="maincontainer">

  <div class="img"><img src="../../assets/Images/aboutus.jpg"></div>

<div class="container">
<br>
 <h1 class="heading">An Unwavering Champion for Animals in Need</h1>
 <div class="content" class="alignDiv">

  For 120 years, Pawfect has responded to the needs of animals
  and the people who care about them. In fact, we are often the first to respond. With over 540
  dedicated volunteers and 100 staff members, ARL lends unwavering support to local animals,
  families, and neighborhoods. <br><br>

  We provide outstanding veterinary care, adoption, and field services. We also confront the root
  causes of animal cruelty and neglect through special police investigation and advocacy aimed at
  strengthening the laws that protect animals. Last year alone, we served more than 16,900 animals
  in need.<br><br>

  Today, we increasingly focus on prevention and the impact we can have on more animals; keeping them
  out of shelters and in the communities where they belong. This ambitious call to action is reflected
  in our new vision for the future.
 </div>

 <div class="viewport maingrid">
    <h2><img src="../../assets/Images/img1.jpg"></h2>
    <h2><img src="../../assets/Images/img2.jpg"></h2>
    <h2><img src="../../assets/Images/img3.jpg"></h2>



    <div  class="gridcontent">
        <mat-card id="card" class="alignDiv">
          <!-- used material card layout for the content -->
            <mat-card-content>
                The red barn in ARL’s logo reminds us of where we came from and stands
                as an important symbol of protection against the suffering of animals to
                 this day. Anna Harris Smith dedicated significant resources to helping Boston’s
                 working horses.Anna Harris Smith dedicated significant . Many neglected and abused horses received care in the haven of the
                  red barn at our Dedham location.
            </mat-card-content>
       </mat-card>
       </div>
       <div class="gridcontent">
       <mat-card id="card"   class="alignDiv">
          <!-- used material card layout for the content -->
            <mat-card-content>
                Established in 1907, Pawfect’s Pine Ridge Pet Cemetery is the oldest pet cemetery
               in the country owned and operated by an animal welfare agency. The cemetery is
              situated on the beautiful grounds of the former summer sanctuary for the city’s
              working horses – and summer home to Pawfect’s founder, Anna Harris Smith. In fact, Anna’s
               own beloved pets here.
            </mat-card-content>
       </mat-card>
      </div>
      <div class="gridcontent">
       <mat-card id="card"  class="alignDiv">
          <!-- used material card layout for the content -->
            <mat-card-content>
                In 1912, ARL purchased its first motorized vehicle. Until then, horse-drawn carriages
   acted as ambulances that were only able to provide service to local Boston residents.
  A motorized ambulance allowed ARL to take their efforts further, encompassing most of
   Eastern Massachusetts. Due to much success, three more motorized vehicles were acquired in 1918.
            </mat-card-content>
       </mat-card>
 </div>
</div>

</div>
</div>

