@import "./../../scss/variable";

.container {

   margin-top: 50px;
   font-size: 20px;


   .header,.city {

    font-weight: bolder;

   }

}

// creating grid
.grid {

 display: grid;
 grid-template-columns: 430px 430px 430px;
 margin-top: 20px;
 margin-bottom: 20px;

 .address {

      color: darkgrey;
      font-size: 14px;

    a:link, a:visited {

      color : darkgrey;
      text-decoration: none;

    }

    a:hover {

        color : red;

    }

}

// styling icon
.fa-map-marker-alt, .fa-phone-volume,.fa-envelope {

  color :grey;
  font-size: 15px;
  padding: 10px;

}

}


