<div class="container">

  <div class="header">

     ANIMAL CARE & ADOPTION CENTERS

  </div>

  <div class="grid">

      <div class="grid1">

          <div class="city"> Boston</div>
         <div class="address">
           <div><i class="fas fa-map-marker-alt"></i>10, Chandler Street Boston</div>
           <div><i class="fas fa-phone-volume"></i>(123) 456-7890</div>
           <div><i class="fas fa-envelope"></i>pawfectadoption@gmail.com</div>
        </div>

     </div>

     <div class="grid2">
        <div class="city">Brewster</div>

        <div class="address">
            <div> <i class="fas fa-map-marker-alt"></i>3981 Main St (Rte 6A), East Brewster, MA 02631 </div>
            <div><i class="fas fa-phone-volume"></i>(123) 456-7890</div>
            <div><i class="fas fa-envelope"></i>pawfectadoption@gmail.com</div>
        </div>
   </div>

   <div class="grid3">

      <div class="city">Dedham</div>

      <div class="address">
          <div> <i class="fas fa-map-marker-alt"></i>55 Anna’s Place, Dedham, MA 02026 </div>
          <div><i class="fas fa-phone-volume"></i>(123) 456-7890</div>
          <div><i class="fas fa-envelope"></i>pawfectadoption@gmail.com</div>
       </div>

 </div>

  </div>
</div>
